* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.header {
  width: 100vw;
  height: 18vh;
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgba(243, 243, 243, 0.85);
  background-image: url("./images/paper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .logo {
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: end;
}
.header .logo h1 {
  font-size: 2.8rem;
  font-weight: 800;
}
.header .navbar {
  width: 60%;
  align-items: center;
  display: flex;
}
.header .navbar ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 25px;
}
.header .navbar ul li {
  list-style: none;
  font-size: 1.2rem;
}
.header .navbar ul li a {
  color: black;
  font-weight: 800;
  transition: 0.3s;
}
.header .navbar ul li a:hover {
  color: rgb(180, 23, 23);
}

.main {
  margin-top: 18vh;
  width: 100vw;
  height: 82vh;
  background-image: url("./images/mainImage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.livros {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/paper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.livros > h1 {
  font-size: 2.2rem;
}
.livros .livros-container {
  width: 75%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(62, 71, 70);
}

.naMidia {
  width: 100vw;
  height: 80vh;
  background-color: rgb(141, 27, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.naMidia > h1 {
  font-size: 2.2rem;
  color: white;
}
.naMidia .naMidiaContainer {
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(255, 255, 255);
}

.sobre {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/paper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre h1 {
  font-size: 2.2rem;
}
.sobre .biografiaContainer {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(62, 71, 70);
  display: flex;
  flex-direction: row;
}
.sobre .biografiaContainer img {
  margin-top: 3vh;
  height: 80%;
}
.sobre .biografiaContainer .biografiaContent {
  margin-top: 3vh;
  height: 90%;
  display: flex;
  align-items: center;
}
.sobre .biografiaContainer .biografiaContent p {
  margin-left: 2rem;
  width: 90%;
  font-size: 1.1rem;
  color: black;
}

.eventos {
  width: 100vw;
  min-height: 80vh;
  background-color: rgb(141, 27, 27);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.eventos > h1 {
  font-size: 2.2rem;
  color: white;
  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-inline: 25vw;
}
.eventos > div {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eventos > div .eventosContainer {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.contacto {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/paper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto h1 {
  font-size: 2.2rem;
}
.contacto .contactoContainer {
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(62, 71, 70);
}

.livroComponent {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.livroComponent img {
  margin-top: 3vh;
  height: 70%;
  max-width: 100%;
  border: 1px solid rgb(173, 173, 173);
}
.livroComponent h1 {
  margin-top: 20px;
  font-size: 1.3rem;
  color: rgb(19, 19, 19);
}
.livroComponent a {
  margin-top: 20px;
  background-color: rgb(141, 27, 27);
  border-radius: 15px 0 15px 0;
  padding: 0.3rem 4rem;
  color: aliceblue;
  transition: 0.7s;
}
.livroComponent a:hover {
  background-color: transparent;
  border-radius: 0 15px 0 15px;
  padding: 0.3rem 4rem;
  color: rgb(141, 27, 27);
  border: 1px solid rgb(141, 27, 27);
}

.eventos {
  width: 100vw;
  min-height: 80vh;
  background-color: rgb(141, 27, 27);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.eventos > h1 {
  font-size: 2.2rem;
  color: white;
  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-inline: 25vw;
}
.eventos > div {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eventos > div .eventosContainer {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.contacto {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/paper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto h1 {
  font-size: 2.2rem;
}
.contacto .contactoContainer {
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(62, 71, 70);
}

.comentarioContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  text-align: center;
  color: white;
}
.comentarioContent .aspas {
  height: 5rem;
  width: 5rem;
  background-image: url("./images/aspas.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.comentarioContent .underLine {
  margin: 25px 0;
  border-bottom: 1px solid white;
  width: 50%;
}
.comentarioContent h5 {
  font-size: 1.1rem;
}
.comentarioContent h5 b {
  font-weight: 700;
}
.comentarioContent h5 p {
  font-weight: 100;
  margin-top: -0.3rem;
}

.eventoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.eventoContainer .eventoContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 0px solid white;
  border-top: 1px solid rgb(109, 16, 16);
  transition: 0.3s;
}
.eventoContainer .eventoContent:hover {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.eventoContainer .eventoContent > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.eventoContainer .eventoContent > div h2 {
  font-size: 2.5rem;
}
.eventoContainer .eventoContent > div div {
  display: flex;
  flex-direction: column;
}
.eventoContainer .eventoContent > div div small {
  font-size: 0.7rem;
  margin: 0 10px;
}
.eventoContainer .eventoContent > div h1 {
  font-size: 2rem;
}
.eventoContainer .eventoContent > div h6 {
  margin-left: 5px;
  font-size: 1.2rem;
  font-weight: 100;
}
.eventoContainer .eventoContent .eventBtn a {
  padding: 0.5rem 2rem;
  background-color: rgb(253, 253, 248);
  border-radius: 15px 0 15px 0;
  color: rgb(141, 27, 27);
  font-weight: 800;
  transition: 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}
.eventoContainer .eventoContent .eventBtn a:hover {
  border: 1px solid white;
  border-radius: 0 15px 0 15px;
  background-color: transparent;
  color: white;
}

.footer {
  width: 100%;
  height: 6vh;
  background-color: rgb(109, 16, 16);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.footer p {
  font-size: 0.7rem;
  margin-right: 50px;
}/*# sourceMappingURL=App.css.map */